{% extends "bootstrap/base.html" %}

{% block title %}
    Curious Crows
{% endblock %}

{% block styles %}
    {{ super() }}
    <link href="{{ url_for('static', filename='bokeh-0.11.1.min.css') }}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://bootswatch.com/simplex/bootstrap.min.css">
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet" type="text/css">
    <script src="https://cdn.jsdelivr.net/vue/latest/vue.js"></script>
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ url_for('index') }}">Kommunvis</a>
            </div>

            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('hur_funkar') }}">Hur funkar det?</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div id="app" class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-lg-7">
                <div class="bokeh">
                    {{ pcaFigDiv|safe }}
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-5">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <label>Välj kommun:</label>
                        <select v-model="selected">
                            {% for region in all_regions %}
                                <option>{{ region }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        Markerade kommuner
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <select v-model="first_mun">
                                {% for region in all_regions %}
                                    <option>{{ region }}</option>
                                {% endfor %}
                            </select>
                        </li>
                        <li class="list-group-item">
                            <select v-model="sec_mun">
                                {% for region in all_regions %}
                                    <option>{{ region }}</option>
                                {% endfor %}
                            </select>
                        </li>
                    </ul>
                    <div class="panel-footer" v-if="first_mun && sec_mun">
                        <button class="btn btn-default btn-xs" v-on:click="compare">Jämför</button>
                    </div>
                </div>

                {% raw %}
                    <div class="panel panel-default" v-if="isComparing">
                        <div class="panel-heading">Jämförelse: {{ first_mun }} vs. {{ sec_mun }}</div>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Nyckeltal</th>
                                        <th>{{ first_mun }}</th>
                                        <th>Riktning</th>
                                        <th>{{ sec_mun }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="comp in compares">
                                        <td>{{ comp.kpi_desc }}</td>
                                        <td>{{ comp.first_mun.format(2) }}</td>
                                        <td class="text-center">
                                            <span v-if="comp.first_mun > comp.sec_mun" class="glyphicon text-lg glyphicon-arrow-left"></span>
                                            <span v-else class="glyphicon text-lg glyphicon-arrow-right"></span>
                                        </td>
                                        <td>{{ comp.sec_mun.format(2) }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endraw %}

                {% raw %}
                    <div class="panel panel-default" v-if="kpis.length > 0 && selected">
                        <div class="panel-heading">{{ selected }}</div>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Nyckeltal</th>
                                        <th>Värde</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="kpi in kpis">
                                        <td>{{ kpi.kpi_desc }}</td>
                                        <td>{{ kpi.value.format(2) }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endraw %}

            </div>
        </div>
    </div>

    <footer class="footer">
      <div class="container">
        <br />
        <p class="text-muted">Skapat som <a href="https://github.com/johandahlberg/curiouscrows">öppen-källkod</a> med data från: <a href="https://www.kolada.se/">Kolada</a>.
      </div>
    </footer>

    <script type="text/javascript">
        /**
         * Number.prototype.format(n, x)
         * 
         * @param integer n: length of decimal
         * @param integer x: length of sections
         */
        Number.prototype.format = function(n, x) {
            var re = '\\d(?=(\\d{' + (x || 3) + '})+' + (n > 0 ? '\\.' : '$') + ')';
            return this.toFixed(Math.max(0, ~~n)).replace(new RegExp(re, 'g'), '$&,');
        };

        window.vue = new Vue({
            el: '#app',

            methods: {
                compare: function(event) {
                    if (this.first_mun && this.sec_mun) {
                        self = this;
                        var url = '/diff_kpis/' + this.first_mun + '/' + this.sec_mun
                        $.getJSON(url, function(data) {
                            self.compares = data;
                            self.isComparing = true;
                        });
                    }
                }
            },

            data: {
                first_mun: null,
                sec_mun: null,
                selected: null,
                kpis: [],
                compares: [],
                isComparing: false,
                cb_obj: undefined
            }
        });

        vue.$watch('first_mun', function(value) {
            this.isComparing = false;

            if (this.cb_obj && this.first_mun) {
                var indexes = [this.cb_obj.get('data').desc.indexOf(this.first_mun)];
                if (this.sec_mun) {
                    indexes.push(this.cb_obj.get('data').desc.indexOf(this.sec_mun))
                }
                this.cb_obj.get('selected')['1d'].indices = indexes;
                this.cb_obj.trigger('change');
            }
        });

        vue.$watch('sec_mun', function(value) {
            this.isComparing = false;

            if (this.cb_obj && this.sec_mun) {
                var indexes = [this.cb_obj.get('data').desc.indexOf(this.sec_mun)];
                if (this.sec_mun) {
                    indexes.push(this.cb_obj.get('data').desc.indexOf(this.first_mun))
                }
                this.cb_obj.get('selected')['1d'].indices = indexes;
                this.cb_obj.trigger('change');
            }
        });

        vue.$watch('selected', function(value) {
            if (value) {
                if (this.cb_obj) {
                    var index = this.cb_obj.get('data').desc.indexOf(this.selected);
                    this.cb_obj.get('selected')['1d'].indices = [index];
                    this.cb_obj.trigger('change');
                }
                this.isComparing = false;
                self = this
                $.getJSON('/top_kpis/' + value, function(data) {
                    self.kpis = data;
                })
            }
        });
    </script>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='bokeh-0.11.1.min.js') }}"></script>
    {{ pcaFigJs|safe }}
{% endblock %}
