{% extends "bootstrap/base.html" %}

{% block title %}
    Curious Crows
{% endblock %}

{% block styles %}
    {{ super() }}
    <link href="https://cdn.pydata.org/bokeh/release/bokeh-0.11.1.min.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    <div class="container">
        

        <div class="bokeh">
            {{ figDiv|safe }}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="https://cdn.pydata.org/bokeh/release/bokeh-0.11.1.min.js"></script>
    {{ figJS|safe }}
{% endblock %}
