{% extends "bootstrap/base.html" %}

{% block title %}
    Curious Crows
{% endblock %}

{% block styles %}
    {{ super() }}
    <link href="{{ url_for('static', filename='bokeh-0.11.1.min.css') }}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://bootswatch.com/simplex/bootstrap.min.css">
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet" type="text/css">
    <script src="https://cdn.jsdelivr.net/vue/latest/vue.js"></script>
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ url_for('index') }}">Komunvis</a>
            </div>

            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#">Översikt</a></li>
                    <li><a href="#">Hur funkar det?</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div id="app" class="container-fluid">
        <div class="row">
            <div class="col-xs-8">
                <div class="bokeh">
                    {{ pcaFigDiv|safe }}
                </div>
                <div class="bokeh">
                    {{ barFigDiv|safe }}
                </div>
            </div>
            <div class="col-xs-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <label>Välj kummun:</label>
                        <select v-model="selected">
                            {% for region in all_regions %}
                                <option>{{ region }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Markerade kommuner
                    </div>
                    <ul class="list-group">
                        {% raw %}
                            <li class="list-group-item" v-for="region in regions">{{ region }}</li>
                        {% endraw %}
                        <li class="list-group-item" v-if="regions.length == 0">Inga kommuner markerade</li>
                    </ul>
                    <div class="panel-footer" v-if="regions.length > 1">
                        <button class="btn btn-default btn-xs">Jämför</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
      <div class="container">
        <br />
        <p class="text-muted">Data är hämtat från <a href="https://www.kolada.se/">Kolada</a>.</p>
      </div>
    </footer>

    <script type="text/javascript">
        window.vue = new Vue({
            el: '#app',
            data: {
                regions: [],
                selected: null
            }})
    </script>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='bokeh-0.11.1.min.js') }}"></script>
    {{ pcaFigJs|safe }}
    {{ barFigJs|safe }}
{% endblock %}
